.hornedBeast-main{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(200px, 1fr);
}


@media(min-width: 500px){
    .hornedBeast-main{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .hornedBeast-main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}